*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(-20deg, rgb(1, 104, 104), cyan, rgb(1, 104, 104));
    background-repeat: no-repeat;
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Tahoma, sans-serif;
    line-height: 40px;
}